body {
  font-family: var(--font-base);
  font-size: var(--step-0);
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: var(--size-300);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}